{
  "extends": ["wesbos"],
  "rules": {
    "no-console": 2,
    "no-use-before-define": "off",
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 120,
        "tabSize": 4
      }
    ]
  }
}
